nav.navbar-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    background-color: rgba(0,0,0,0.3);
    max-height: 300px;
    gap:10px;
}

nav.navbar-main a {
    color: white;
    background-color: gray;
    padding: 20px;
    border-radius: 5px;
}
