nav.navbar-main {
    position: fixed;
    width: 100%;
    background-color: rgba(0,0,0,0.3);
    max-height: 300px;
    gap:10px;
    top: 0px;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

nav.navbar-main a {
    color: white;
    background-color: gray;
    padding: 20px;
    border-radius: 5px;
    border: 0px 20px 0px 20px;
}

nav.navbar-main a.active {
    background-color: red;
}
